@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.top {
  background-color: #1f2937;
  height: 700px;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1300px;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

ul {
  color: #e5e7eb;
  font-size: 18px;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.hero {
  margin-bottom: 200px;
  display: flex;
  gap: 40px;
  width: 1300px;
}

.hero-header {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-text {
  color: #e5e7eb;
  font-size: 18px;
  margin-bottom: 10px;
}

.hero-image {
  background-color: rgba(168, 172, 172, 0.678);
  padding: 100px 200px;
}

.hero-button {
  background-color: #3882F6;
  color: #f9faf8;
  padding: 5px 20px;
  border-radius: 9px;
  border-style: none;
}

.information {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.information-header {
  color: #1f2937;
  font-size: 36px;
  font-weight: bold;
  margin-top: 70px;
}

.information-container {
  margin-bottom: 200px;
  display: flex;
  gap: 50px;
}

.card img {
  padding: 95px 90px;
  border: 5px solid #3882f6;
  border-radius: 20px;
}

.card {
  width: 200px;
  font-size: 18px;
}

.quote {
  height: 650px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote > div {
    display: flex;
    flex-direction: column;
}

.quote-bottom {
    display: flex;
    justify-content: flex-end;
}

.quote-text {
  font-size: 36px;
  width: 830px;
  font-style: italic;
  font-weight: 300;
}

.quote-bottom {
    font-size: 30px;
    font-weight: bold;
}

.bottom {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-section {
    background-color: #3882F6;
    height: 200px;
    width: 1300px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f9faf8;
}

.action {
    margin-left: 200px;
}

.action-button {
    margin-right: 200px;
    background-color: #3882F6;
    color: #f9faf8;
    padding: 5px 20px;
    border-radius: 9px;
    border: 2px solid #f9faf8;
}

.footer {
    height: 130px;
    font-size: 20px;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}